.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 400px;
}

.title {
    font-size:18px;
    font-weight: 600;
    margin: 0;
    color: #ada5ff;
    text-shadow: 0 0 15px #ffffff9c;
}
.paragraph {
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    margin: 10px auto;
}

.paragraph span {
    font-weight: 600;
    color: #ada5ff;
}

.paragraph a {
    font-size: 16px;
    font-weight: 400;
    transition: color 0.3s ease-in;
    color: #ada5ff;
}
.paragraph a:hover {
    color: #877cff;
}